<h2>CyberfloW guides (<%= CYBERFLOW_VERSION %>)</h2>
<p>
  These are the new guides for CyberfloW based on <a href="https://github.com/vitalyp/cyberflow/tree/<%= CYBERFLOW_VERSION %>"><%= CYBERFLOW_VERSION %></a>.
  These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.
</p>