<% content_for :head do %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('21124b3b5c748b7e2a21', {
      encrypted: true
    });
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>
<% end%>

<% content_for :page_title do %>
    Cyberflow view
<% end %>

<% content_for :header_section do %>
    <%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
    <div id="subCol">
      <dl>
        <dd class="kindle">Rails Guides are also available for:).</dd>
        <dd class="work-in-progress">Guides marked with this icon are currently being worked on and will not be available in the Guides Index menu. While still useful, they may contain incomplete information and even errors. You can help by reviewing them and posting your comments and corrections.</dd>
      </dl>
    </div>
<% end %>

<% documents_by_section.each do |section| %>
    <h3><%= section['name'] %></h3>
    <dl>
      <% section['documents'].each do |document| %>
          <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
              <p><%= document['description'] %></p>
          <% end %>
      <% end %>
    </dl>
<% end %>